[Desktop Entry]
Categories=Utility;
Comment=Apply macOS icons to Linux applications
Exec=apply-mac-icon-gui
Icon=macosicons-gui
Name=macOSicons (GUI)
NoDisplay=false
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
