[Desktop Entry]
Categories=Utility;
Comment=Apply macOS icons to Linux applications
Exec=/home/lenovo/.local/bin/apply-mac-icon
Icon=/home/lenovo/Pictures/MacIcons/macOSicons.png
Name=macOSicons
NoDisplay=false
Path=
PrefersNonDefaultGPU=false
StartupNotify=false
Terminal=true
TerminalOptions=
Type=Application
Version=1.0
X-KDE-SubstituteUID=false
X-KDE-Username=
